//Fonts google
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Noto+Serif+KR:wght@200&display=swap');

//Font cufonfonts
@import url('../Resources/212-phoenix-sans-cufonfonts-webfont/212\ Phoenix\ Sans\ DEMO.woff');
    
$color-principal: #e3b82d;
$color-secundario: #000000;
$color-terciario: #828585;
$font-logo:  '212 Phoenix Sans';
$font-titulos: 'Noto Serif', serif;
$font-subtitulos: 'Noto Serif KR', serif;
$clippy: polygon(0 0, 0 1%, 0 100%, 0% 100%);
$clippys: polygon(0 0, 100% 0, 100% 100%, 0 100%);


@for $textos from 1 through 5 {
    h#{$textos}{
        font-size: 50px - (4*$textos);
    }
}

@mixin condicional ($color) {
    background-color: ($color);
    @if $color == #e3b82d {
        border: 5px solid $color-secundario;
    } @else if $color == black {
        border: 5px solid $color-terciario; 
    } @else if $color == #858282 {
        border: 5px solid white;    
    }
}

@mixin styletext ($font-family, $color, $text-align ) {
    color: $color;
    font-family: $font-family;
    text-align: $text-align;
}
h2 h3 h4 {
    @include styletext('Noto Serif', $color-secundario , text-align)
}

@mixin sizes ($width, $height) {
    width: $width;
    height: $height;
}

body{
    margin: 0 auto;
    width: 100%;
}
.nav{
    background: $color-principal;
    height: 100px;
    color: $color-secundario;
    &__container{
        display: flex;
        height: 100%;
        width: 90%;
        margin: 0 20px 5px 20px;
        justify-content: space-between;
        align-items: center;
        padding-left: 30px;
        padding-right: 30px;
        overflow: hidden;
        flex-wrap: wrap;
        text-decoration: none;
    }
    &__img{
        height: 80px;
        width: 80px;
        margin: 0px;
        padding: 1.5px;
        padding-top: 0;
        padding-bottom: 15px;
    }
    &__menu{
        display: grid;
        grid-auto-flow: column;
        gap: 2em;
    }
    &__item{
        color: $color-secundario;
        font-family: $font-titulos;
        font-size: 20px;
        font-weight: 300px;
        text-decoration: none;
        --clippy:polygon(0 0, 0 0, 0 100%, 0 100%);
    }
    &__item::after{
        content: "after";
        display: block;
        background: $color-terciario;
        width: 90%;
        margin-top: 3px;
        height: 3px;
        clip-path: $clippy;
    }
    &__item:hover{
        color: #fff;
        --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        transition: clip-path .5s;

    }
    &__input:checked + .nav__menu{
        background: $color-principal;
    }
    &__label, .nav__input{
        display: none;
    }
}
@media (max-width: 750px ) {
    .nav__label{
        display: block;
        cursor: pointer;
    }
    .nav__menu{
        position:fixed; z-index:1;
        top: 80px;
        bottom:0px;
        background: $color-principal;
        background-attachment: scroll;
        width: 100%;
        left: 0;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        clip-path: circle(0 at center);
        transition: clip-path 1s ease-in-out;
    }
    .nav__input:checked + .nav__menu{
            clip-path: circle(100% at center);
        }
@media (max-width: 750px ) {
    .nav__label{
        display: block;
        cursor: pointer;
    }
    .nav__menu{
        position:fixed; z-index:1;
        top: 80px;
        bottom:0px;
        background: $color-principal;
        width: 100%;
        left: 0;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        clip-path: circle(0 at center);
        transition: clip-path 1s ease-in-out;
    }
    .nav__input:checked + .nav__menu{
            clip-path: circle(100% at center);
            background-attachment: scroll;
        }
    
}
}
@media (max-width: 350px ) {
    .nav__label{
        display: block;
        cursor: pointer;
    }
    .nav__menu{
        position:fixed; z-index:1;
        top: 40px;
        bottom:0px;
        background: $color-principal;
        width: 50%;
        left: 0;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        clip-path: circle(0 at center);
        transition: clip-path 1s ease-in-out;
    }
    .nav__input:checked + .nav__menu{
            clip-path: circle(100% at center);
        }

    .nav_titulo{
        text-align: left;
        font-size: 15px;
    }
    .nav__img{
        height: 50px;
        width: 50px;
    }
    .nav_icon{
        width: 20px;
        height: 20px
    }
}


.inicio{
    @include sizes(100%,110%);
    display: grid;
    grid-template-columns: repeat(12,1fr);
    margin: 0;
    gap: 5px;
    overflow: hidden;
    align-items: center;
    &__card1{
        grid-column: 1/-1;
        text-align: center;
        background-image: 
            linear-gradient(
                rgba(0, 0, 0, 0.3),
                rgba(0, 0, 0, 0.4)
            ),
        url(../Resources/Imgs/Tejiendolapaz.jpg);
        background-size: cover;
        width: 100%;
        height: 500px;
        padding-bottom: 20px;
        text-align: center;
    }
    &__bienvenida{
        padding-top: 100px;
        color: #fff;
        font-family: $font-logo;
        font-size: 150px;
        text-align: center;
        animation-duration: 5s;
        animation-name: aparecer;      
    }
    &__card2{
        grid-column: 3/7;
        padding: 20px;
        padding-top: 50px;
    }
    @keyframes aparecer{
        0% {
        opacity: 0;
        }
        100% { 
        opacity: 1;
        }
    }
    &__p{
        margin-bottom: 20px;
        padding-top: 10px;
        text-align: center;
        font-size: $font-subtitulos;
        &--italic{
            font-weight: 700;
            font-style: italic;
        }
    }
    &__img{
        @include sizes(100%,auto);
        grid-column: 7/12;
        text-align: center;
        padding-top: 30px;
        &--size{
            width: 85%;
            max-width: 400px;
            height: 350px;
        }
    }
}
.proyectos{
    height: 310px;
    width: 100%;
    margin: 0 10px 0 10px;
    align-items: center;
    padding: 0 20px 0 20px;
    padding-left: 25px;
    &__card{
        grid-column: 1/-1;
        display: flex;
        width: 120%;
        max-width: 1100px;
        height: 100%;
        margin: auto;
        gap: 5px;
        overflow: hidden;
        padding-top: 10px;
        justify-content: space-evenly;
        align-items: center;
    }   
    &__type{
        @include condicional($color-principal);
        width: 30%;
        color: $color-secundario;
        box-shadow: 0 0 8px $color-principal;
        overflow: hidden;
        font-size: 40px;
        height: 240px;
        padding: 20px 10px;
        text-align: center;
    }
    &__title{
        margin: 10px 0;
    }
    &__text{
        font-size: 18px;
        font-family: $font-subtitulos;
    }
}
.apuesta{
    color: $color-secundario;
    width: auto;
    height: 300px;
    margin: 10px 20px 0 20px;
    padding: 10px 40px 0 30px;
    font-size: 20px;
    display: block;
    &__card{
        grid-column: 1/-1;
        text-align: center;
    }
    &__title{
        padding-top: 15px;
        font-size: 40px;
        text-transform: uppercase;
        color: $color-principal;
        text-align: center;
    }  
    &__formatos{
        grid-column: 1/-1;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 2px;
    }
    &__tipo{
        margin: 10px;
        padding: 5px;
        color: $color-secundario;
        margin-top: 10px;
        font-size: $font-titulos;
        font-weight: 700;
        width: 20%;
        text-align: center;
    }
    &__img{
        height: 100px;
        width: 110px;
    }
}
@media (max-width: 600px) {
    .inicio{
        height: auto;
    }
    .inicio__card2{
        grid-column: 1/-1;
        padding: 12px;
        text-align: center;
    }
    .inicio_title{
        font-size: 15px;
    }
    .inicio__img{
        grid-column: 1/-1;
        text-align: center;
        border: none;
    }
    .proyectos{
        height: auto;
    }
    .proyectos__card{
        height: auto;
        margin-top: 40px;
        display: block;
    }
    .proyectos__type{
        width: 60%;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    .apuesta{
        height: auto;
        width: 0 auto;
        text-align: center;
    }
    .apuesta__formatos{
            display: block;
            width: 0 auto;
            padding: 10px;
            height: auto;
    }
    .apuesta__tipo{
        margin: 0 auto;
        align-content: center;
        font-size: 15px;
    }
}
.nosotros{
    width: 80%;
    height: 100;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0;
    padding: 0px 30px;
    text-align: justify;

    &__title{
        margin-top: 12px;
        padding: 7px;
        font-family: $font-titulos;
        text-align: center;
        color: $color-secundario;
    }
    &__subtitulo{
        font-family: $font-titulos;
        text-align: center;
        font-size: 30px;
    }
    &__parrafo{
        font-family: $color-secundario;
        font-family: $font-subtitulos;
        padding-left: 10px;
    }
    &__descripcion{
        padding-right: 10px;
        margin-top: 0px;
        margin-bottom: 15px;
    }
    &__equipo{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    &__item{
        margin: 8px;
        order: 4;
        background-color: $color-principal;
    }
    &__img{
        width: 220px;
        height: 220px;
        padding: 5px;
    }
    &__text{
        padding-top: 10px;
        font-family: $font-titulos;
        font-weight: 800px;
        font-size: 20px;
        text-align: center;
    }
    &__text2{
        font-family: $font-subtitulos;
        font-size: 16px;
        text-align: center;
        color: #fff;
    }
}
@keyframes texto {
    from {
        margin-left: 100%;
        width: 300%
    }
    to {
        margin-left: 0%;
        width: 100%;
    }
}
.caminos{
    color: #000000;
    height: 570px;
    padding-bottom: 20px;
    border-bottom: 2px solid #828282;
    &__grid{ 
        display: grid;
        grid-template-columns: repeat(12,1fr);
        width: 90%;
        height: 100%;
        margin: auto;
        gap: 5px;
        overflow: hidden;
        align-items: center;
        padding-top: 10px;
    }
    &__description{
        background-color: #fff;
        height: 400px;
        border-radius: 20%;
        padding: 20px 0 15px 0;
        grid-column: 7/13;
        grid-row: 1/-1;
        text-align: center;
    }
    &__title{
        grid-column: 1/7;
        grid-row: 1/-1;
        margin: 0px 70px;
        font-family: $font-logo;
        font-size: 100px;
        color: $color-principal;
        text-align: center;
        &:hover{
            color: $color-terciario;
        }
    }
    &__subtitle{
        font-weight: 400px;
        font-size: 25px;
        font-family: $font-titulos;
        color: $color-principal;
        &:hover{
            text-decoration: underline;
        }
    }
    &__p{
            font-size: 18px;
            font-family: $font-subtitulos;
            color: $color-secundario;
    }
}
@media (max-width: 600px) {
    .caminos{
        height: auto;
        margin: 0 auto;
    }
    .caminos_description{
        display: block;
        grid-column: 1/2;
    }
    .caminos__img{
        grid-column: 1/-1;
        text-align: center;
        border: none;
    }
    }
.senderos{
    box-sizing: border-box;
    display: block;
    padding-top: 22px;
    color: black;
    margin: 0 auto;
    text-align: center;
    &__content{
        margin: 0 105px 0 105px;
        padding: 0 40px 0px 40px;
        text-align: center;
    } 
    &__description{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 0;
        margin-bottom: 0px;
        margin-right: -15px;
        margin-left: -15px;
    }
    &__title{
        font-size: 80px;
        font-style: oblique;
        font-family: $font-titulos;
        font-weight: normal;
        color: $color-secundario;
        animation: 2s;
        animation-name: aparecer;
    }
    &__trailer{
        padding: 0px;
        width: 830px;
        height: 560px;
        text-align: center;
        border: 12px #e3b82d solid;
        background-color: #000000;
    }
}
@media screen {
    
}
.cards{
    gap: 0;
    align-items: center;
    &__grid{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(14,1fr);
        align-items: center;
    }
    &__img{
        grid-column: 4/8;
        padding: 10px;
        text-align: center;
        &--size{
            width: 80%;
            height: auto;
        }
    }
    &__description{
        grid-column: 8/12;
        margin-left: 15px;
        border-left: 6px solid #e3b82d;   
        height: 250px;
        margin: 0%;
        padding: 10px;
        border-radius: 10px;
        &:hover{
            background-color: $color-principal;
            font-size: 20px;
            color: $color-secundario;
        }
    }
    &__textos{
        text-align: center;
        color: #000000;
        &--white{
            color: white;
            text-align: center;
        }
    }
    &__title{
        background: none;
        color: $color-secundario;
    }
    &__img2{
        grid-column: 8/12;
        padding-right: 0%;
        margin-left: 0;
        text-align: right;
    }
    &__description2{
        grid-column: 4/8;
        grid-row: 1/-1;
        padding: 5px;
        height: 200px;
        margin: 0%;
        margin-right: 0%;
        padding: 10px;
        border-radius: 10px;
        &:hover{
            background-color: $color-principal;
            font-size: 20px;
            color: $color-secundario;
        }
    }
    &__img3{
        grid-column: 4/8;
        padding-right: 0%;
        text-align: center;;
    }
    &__description3{
        grid-column: 8/12;
        margin-left: 15px;
        border-left: 6px solid #e3b82d;   
        height: 250px;
        margin: 0%;
        padding: 10px;
        border-radius: 10px;
        &:hover{
            background-color: $color-principal;
            font-size: 20px;
            color: $color-secundario;
        }
    }
}
.contacto{
    margin: 0px auto;
    height: 580px;
    &__container{
        width: 100%;
        height: 100vh;
        width: 90%;
        margin: 0 auto;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__description{
        padding: 10px;
    }
    &__title{
        font-family: $font-titulos;
        font-weight: 300px;
        font-size: 30px;
        text-align: center;
        margin: 10px 0;
        font-family: $font-titulos;
        font-weight: 400;
        color: $color-principal;
    }
    &__text{
        padding: .7em 0;
        line-height: 1.5;
        font-family: $font-subtitulos;
        font-size: 22px;
        color:$color-terciario;
    }
    &__questions{
        position: relative;
        margin: 25px;
        font-family: $font-subtitulos;
    }
    form{
        @include condicional(#828282);
        margin: 0 20px;
        width: 50%;
        height: 400px;
        padding: 5px 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        box-shadow: 0 0 6px #858282;
    }
    input,textarea{
        padding: 3px 3px 3px 2px;
        display: block;
        width: 100%;
        border: none;
        border-bottom: 1px solid #858282;
        resize: none;
    }
    label{
        color: #858282;
        font-size: 12px;
        position: absolute;
        left: 5px;
        top: 10px;
        transition: 0.3s ease all;
    }
    button{
        width: 50%;
        margin: 0 auto;
        padding: 2px;
        background: #e3b82d;
        color: #000000;
        display: block;
        align-items: center;
    }
    @media screen and (min-width:850px){
        .contacto__container{
            flex-direction: row;
            align-items: center;
            height: 500px;
        }
    }
}

.page404{
    margin: 0 auto;
    height: auto;
    padding: 30px;
    text-align: center;
    &__gif{
        height: 300px;
    }
    &__titulo{
        font-family: $font-logo;
        font-size: 120px;
        font-weight: 60px;
        color: $color-principal;
    }
    &__text{
        padding: 0px;
        font-family: $font-logo;
        font-size: 50px;
        color: $color-terciario;
        &--small{
            font-weight: 100px;
            font-family: $font-titulos;
        }
    }
    
    &__btn{
        font-family: $font-logo;
        font-size:40px;
        color:$color-secundario;
        padding-top:10px;
        padding-bottom:10px;
        padding-left:20px;
        padding-right:20px;
        background-color:$color-principal;
        border: none;
    }

    &__enlace{
        text-decoration: none;
        color: $color-secundario;
        &:hover{
            color: $color-terciario;
        }
    }
}

.footer{
    &__content{
        margin-top: 40px;
        height: 310px;
        background-color: $color-secundario;
        font-family: monospace;
        display: flex;
        align-items: center;
        justify-content: center; 
        flex-direction: column;
        text-align: center;  
}
    &__title{
        padding: 10px;
        text-align: center;
        font-family: $font-logo;
        font-size: 60px;
        color: $color-principal;
        text-transform: capitalize;
        line-height: 1rem;
}
    &__p{
        max-width: 500px;
        margin: 0px 10px;
        line-height: 28px;
        font-size: 16px;
        font-family: $font-subtitulos;
        color: $color-terciario;
}
    &__social{
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1rem 0 1rem 0;
        &--icons{
            margin: 0 10px;
            text-decoration: none;
        }
        a{
            color: #fff;
            font-size: 1.8rem;
            transition: color .4s ease;
        }
    }
    &__bottom{
        width: 100%;
        height: 40px;
        padding: 0;
        color: $color-principal;
        font-family: $font-subtitulos;
        font-size: 14px;
        word-spacing: 2px;
        text-transform: capitalize;
    }
}
