<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Disfruta de la literatura y arte de Colombia, a través de crónicas, poemas, análisis, ensayos, galerías y videos.">
    <meta name="keywords" content="ARTE, COLOMBIA, LITERATURA, ANÁLISIS, CULTURA, HISTORIA">
    <link rel="icon" type=imagen/png href="./Resources/favicon.png">
    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/300f56ccf0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../CSS/style.css">
    <title>Not found</title>
</head>
<body>
    <section class="page404">
        <div class="page404__container">
            <h1 class="page404__titulo">¡Ooops!</h1>
            <img src="../Resources/404 error.gif" alt="Giferror" class="page404__gif">
        </div>
        <div>
            <h2 class="page404__text"> Page 404</h2>
            <p class="page404__text--small">La página que buscas no está disponible</p>
            <button type="button" class="page404__btn">
                <a class="page404__enlace" href="../index.html">Home</a>
            </button>
        </div>
    </section>
</body>
<html>