<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="En Notas a pie te ofrecemos respuestas y reflexiones creativas a través de nuevas formas de ver, narrar y representar la realidad colombiana">
    <meta name="keywords" content="Colombia, creatividad, realidad, interdisciplinar">
    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="icon" type=imagen/png href="../Resources/Imgs/favicon.png">
    <link rel="stylesheet" href="../CSS/style.css">
    <title>Sobre nosotros</title>
</head>
<body>
    <nav class="nav">
        <div class="nav__container">
            <div class="nav__logo">
                <a href="../index.html"><img src="../Resources/Imgs/LogoNotasapie-min.png" alt="LogoNotasapie" class="nav__img"></a>
            </div>
            <label for="menu" class="nav__label">
                <img src="../Resources/SVG/menu.svg" alt= iconomenu class="nav__icon">
            </label>
            <input type="checkbox" id="menu" class="nav__input">
            <div class="nav__menu">
                <a href="../Views/Quienessomos.html" class="nav__item">Quiénes Somos</a>
                <a href="../Views/Caminos.html" class="nav__item">Caminos</a>
                <a href="./Senderos.html" class="nav__item">Senderos</a>
                <a href="../Views/Contacto.html" class="nav__item">Contacto</a>
            </div>
        </div>
    </nav>
    <main>
        <div>
            <div class="nosotros">
                <h1 class="nosotros__title">¿Qué es Notas a pie?</h1>
                <p class="nosotros__parrafo">Notas a Pie es un proyecto que nace en el 2020 durante el periodo de pandemia a finales de marzo, un grupo de jóvenes se reunieron para hablar y reflexionar sobre la coyuntura ahondando diferentes temáticas. Es así, como a partir de una red de acompañamiento conjunto,  comienza a pensarse en alternativas de vida apuntando a la necesidad imperiosa de generar una reflexión crítica de nuestra sociedad. </p>
                <p class="nosotros__parrafo"> Este grupo conformado por distintas disciplinas y saberes, personalidades, formas de entender los contextos, el mundo y nuestro país, se unieron para dar amor al planeta a partir de reflexiones de valor pensadas desde una pedagogía que permita llegar a varias generaciones, diferentes contextos socio políticos y procesos educativos en torno a reflexiones desde una postura crítica, que abran nuevas formas de observar el mundo, ver más allá de nuestros pies, llegar incluso al cielo y permitir crear nuevos sueños de una realidad diferente.</p>
                <h2 class="nosotros__subtitulo">Equipo</h2>
                <div class="nosotros__equipo">
                    <div class="nosotros__item">
                        <img src="../Resources/Imgs/Gabriela Ordoñez.jpg" class="img-fluid nosotros__img" alt= fotoperfil>
                        <h3 class= "nosotros__text">Gabriela Ordoñez</h3>
                        <p class="nosotros__text2">Politóloga/Fotográfa</p>
                    </div>
                    <div class="nosotros__item">
                        <img src="../Resources/Imgs/NicoHerrera.jpg" class="img-fluid nosotros__img" alt= fotoperfil>
                        <h3 class= "nosotros__text">Nico Herrera</h3>
                        <p class="nosotros__text2">Politólogo</p>
                    </div>
                    <div class="nosotros__item">
                        <img src="../Resources/Imgs/Camila Naicipa.jpg" class="img-fluid nosotros__img" alt= fotoperfil>
                        <h3 class= "nosotros__text">Camila Naicipa</h3>
                        <p class="nosotros__text2">Diseñadora gráfica</p>
                    </div>
                    <div class="nosotros__item">
                        <img src="../Resources/Imgs/Juanse.jpg" class="img-fluid nosotros__img" alt= fotoperfil>
                        <h3 class= "nosotros__text">Juanse De Martino</h3>
                        <p class="nosotros__text2">Abogado</p>
                    </div>
                    <div class="nosotros__item">
                        <img src="../Resources/Imgs/Julian Muñoz.jpg" class="img-fluid nosotros__img" alt= fotoperfil>
                        <h3 class= "nosotros__text">Julián Muñoz</h3>
                        <p class="nosotros__text2">Politólogo</p>
                    </div>
                    <div class="nosotros__item">
                        <img src="../Resources/Imgs/Natalia Lozano.jpg" class="img-fluid nosotros__img" alt= fotoperfil>
                        <h3 class= "nosotros__text">Natalia Elvira</h3>
                        <p class="nosotros__text2">Comunicadora social</p>
                    </div>
                    <div class="nosotros__item">
                        <img src="../Resources/Imgs/Nico Arevalo.jpg" class="img-fluid nosotros__img" alt= fotoperfil>
                        <h3 class= "nosotros__text">Nicolás Arévalo</h3>
                        <p class="nosotros__text2">Economista</p>
                    </div>
                    <div class="nosotros__item">
                        <img src="../Resources/Imgs/Manuela Sierra.jpg" class="img-fluid nosotros__img" alt= fotoperfil>
                        <h3 class= "nosotros__text">Manuela Sierra</h3>
                        <p class="nosotros__text2">Médica</p>
                    </div>
                    <div class="nosotros__item">
                        <img src="../Resources/Imgs/Natalia Barrera.jpg" class="img-fluid nosotros__img" alt= fotoperfil>
                        <h3 class= "nosotros__text">Natalia Barrera</h3>
                        <p class="nosotros__text2">Arquitecta</p>
                    </div>
                    <div class="nosotros__item">
                        <img src="../Resources/Imgs/Ana Sofia Zea.jpg" class="img-fluid nosotros__img" alt= fotoperfil>
                        <h3 class= "nosotros__text">Ana Sofia Zea</h3>
                        <p class="nosotros__text2">Economista</p>
                    </div>
                    <div class="nosotros__item">
                        <img src="../Resources/Imgs/Sebastián Rojas.jpg" class="img-fluid nosotros__img" alt= fotoperfil>
                        <h3 class= "nosotros__text">Sebastián Rojas Vélez</h3>
                        <p class="nosotros__text2">Realizador audiovisual</p>
                    </div>
                    <div class="nosotros__item">
                        <img src="../Resources/Imgs/Susana Arango.png" alt= fotoperfil  class="img-fluid nosotros__img">
                        <h3 class= "nosotros__text">Susana Arango</h3>
                        <p class="nosotros__text2">Antropóloga</p>
                    </div>
                    <div class="nosotros__item">
                        <img src="../Resources/Imgs/Carlitos Escobar.jpg" class="img-fluid nosotros__img" alt= fotoperfil>
                        <h3 class= "nosotros__text">Carlos Escobar</h3>
                        <p class="nosotros__text2">Politólogo</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="footer">
        <div class="footer__content">
            <h2 class="footer__title">Notas a pie</h2>
            <p class="footer__p">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur delectus, repudiandae inventore aliquid consequatur at ab dolorem ipsam modi earum?</p>
            <ul class="footer__social">
                <li class="footer__social--icons"><a href="#"><i class="fab fa-facebook"></i></a></li>
                <li class="footer__social--icons"><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li class="footer__social--icons"><a href="#"><i class="fab fa-instagram"></i></a></li>
            </ul>
            <div class="footer__bottom">
                <p>Copyright &copy; Notas a pie. Designed by <span class="footer_bottom--italic">Elvira Lozano</span></p>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
</body>
</html>